# Basic Python (variable, operator matematika, if, comparison operator)

### *Variabel*

In [97]:
#fungsi print
print("Helo world")

Helo world

In [98]:
#define/declare variabel (toples isi rengginang)
#mengisi variabel tipe data object/string
toples='rengginang'

In [99]:
#melihat isi variabel (toples)
print(toples)

rengginang

In [100]:
toplesBaru='rengginang dan monde'

In [101]:
toplesBaru

'rengginang dan monde'

In [102]:
print(toplesBaru)

rengginang dan monde

In [103]:
#mengisi variabel dengan (tipe string))
toplesBaruNomorDua='100'

In [104]:
print(toplesBaruNomorDua)

100

In [105]:
#mengisi variabel dengan angka (tipe integer)
toples2=100

In [106]:
#melihat isi variabel (toples)
print(toples2)

100

In [107]:
#mengisi variabel dengan angka (tipe float)
toples2=100.67

In [108]:
#melihat isi variabel (toples)
print(toples2)

100.67

In [109]:
#tipe list
#list itu seperti toples yg berisi bermacam2 makanan (beda-beda tipe)
#list menggunakan kurung siku
toplesBaru=['rengginang','indomie','ramen']

In [110]:
print(toplesBaru)

['rengginang', 'indomie', 'ramen']

In [111]:
toplesBaru

['rengginang', 'indomie', 'ramen']

In [112]:
#dict
#diawali kurung kuroawal
toplesDict={
    'makanan':'ayam',
    'minuman': 'badak'
    }

In [113]:
print(toplesDict)

{'makanan': 'ayam', 'minuman': 'badak'}

### KTP
1. NIK : 64710123456789 -> string/bisa juga numerical
2. TTL : Balikpapan, xx oktober 19xx -> string
3. Pekerjaan : wiraswasta -> string

In [114]:
toples1=''

In [115]:
toples2=' '

In [116]:
toples_dengan_under='isi toples'

In [117]:
aheng='baju'

In [118]:
#penyebutan variabel tidak bisa typo
#ahenG

In [119]:
#nama variabel tidak boleh menggunakan kata yg di bannec python
#break='baju'

### Operator

In [120]:
toples1=10.9
toples2=5.56

In [121]:
print(toples1+toples2)

16.46

In [122]:
toples3=toples1+toples2

In [123]:
toples3

16.46

In [124]:
toplesPengurangan=toples1-toples2
toplesPengkalian=toples1*toples2
toplesPembagian=toples1/toples2

In [125]:
print(toplesPembagian)

1.9604316546762592

In [126]:
toplesPengkalian

60.604

In [127]:
toplesPengurangan

5.340000000000001

In [128]:
###a*t/2
###Alas =8, Tinggi=7

In [129]:
#menghitung luas segitiga dengan manual
#misal alas=8, tinggi=7
alas=8
tinggi=7
luas=alas*tinggi/2
luas

28.0

In [130]:
#menghitung luas segitiga dengan function
def luas(alas,tinggi):
    luas=(alas*tinggi/2)
    return luas

#misal alas=8, tinggi=7
luas(8,7)

28.0

In [131]:
#contoh kalau di kredit
penggunaanSaldo=100
limit=1000
persentasePenggunaan=(penggunaanSaldo/limit)*100
print(str(persentasePenggunaan)+'%')

10.0%

In [132]:
toplesBaru='rengginang'

In [133]:
print(toplesBaru+' '+toplesBaruNomorDua)

rengginang 100

### ini teks
## ini teks
# ini teks

In [134]:
### if(operator)
### operator meliputi >,=,<=,>=
if(alas>tinggi):
    print('alas lebih besar dari tinggi')

alas lebih besar dari tinggi

In [135]:
#ga akan print halo karena tinggi lebih kecil dari alas
if(tinggi>alas):
    print('tinggi lebih besar dari alas')

In [136]:
if(tinggi>alas):
    print('tinggi lebih besar dari alas')
else:
    print('alas lebih besar dari tinggi')

alas lebih besar dari tinggi

In [137]:
print(alas>tinggi)

True

In [138]:
print(alas<tinggi)

False

In [139]:
if(tinggi==alas):
    print('halo')
else:
    print('hola')

hola